#projects {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.icon-box {
  background-color: #141414;
  padding: 8px;
  border-radius: 5px;
}

/* Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 60px;
}

.project-preview {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, grid-column 0.3s ease,
    width 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.project-preview:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.project-preview.expanded {
  grid-column: 1 / -1; /* Span all columns */
  display: flex; /* Make it a flex container */
  align-items: stretch;
  z-index: 2;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  background-color: #010a0e;
  opacity: 1;
  cursor: default;
  transform: scale(1);
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Default width */
  transition: width 0.3s ease; /* Add transition to width */
}

.project-preview.expanded .image-container {
  width: 70%; /* When expanded, image takes 70% */
}

.image-container .proj-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.project-preview.expanded .image-container .proj-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 6px;
  z-index: 5;
}

.text-container {
  padding: 25px;
  width: 30%; /* Text takes 30% when expanded */
  height: auto;
}

.overlay {
  /* New overlay element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  opacity: 1; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add transition */
  pointer-events: none; /* Prevent clicks on the overlay when hidden */
}

.project-preview:hover .overlay {
  opacity: 0; /* Show on hover */
  pointer-events: auto; /* Allow clicks on the overlay */
}

.project-preview.expanded .overlay {
  opacity: 0; /* Hide when expanded */
}

.overlay h2 {
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.chevron-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Adjust size as needed */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4; /* Ensure it's above the image and overlay */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.chevron-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.chevron-container.left {
  left: 5px;
}

.chevron-container.right {
  right: 5px;
}

.chevron-container svg {
  width: 32px;
  height: 32px;
}

/* Responsive adjustment */
@media (max-width: 850px) {
  #projects {
    padding: 10px;
  }

  .project-preview.expanded {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center horizontally */
  }

  .project-preview.expanded .image-container {
    width: 100%; /* Image takes full width */
  }

  .project-preview.expanded .text-container {
    width: 95%; /* Text takes full width */
  }

  .project-grid {
    grid-template-columns: 1fr;
    padding: none;
  }
}

@media (max-width: 1280px) {
  .project-preview.expanded .image-container .proj-image {
    height: 100%;
    object-fit: cover;
  }

  .project-grid {
    padding: 15px;
  }
}
